# Created by .ignore support plugin (hsz.mobi)
.idea/android-zxing-qr.iml
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
build/
libs/
src/main/java/com/zack/qr/android/camera/
src/main/java/com/zack/qr/android/encode/
